.inventory-table-container {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #566573;
  color: #f0f0f0;
  overflow: hidden;
}

.inventory-table th {
  background-color: #616a6b;
  color: #ffffff;
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  position: sticky;
  top: 0;
}

.inventory-table tr {
  transition: background-color 0.2s;
}

.inventory-table tr:nth-child(even) {
  background-color: #616a6b;
}

.inventory-table tr:hover {
  background-color: #7f8c8d;
}

.inventory-table td {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #808b96;
}

.inventory-table tr:last-child td {
  border-bottom: none;
}
